@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Since 1998, Cyber Group has been providing high quality product engineering services to businesses throughout a wide array of industries. Our development teams have extensive knowledge and experience to provide our clients with superb engineering service. We believe the businesses we work with are more than just our customers; they are our partners. As such, we treat every project as if it were our own, providing valuable results all with low costs and faster entry to market. Cyber Group: Leave your engineering to us.</p>
